binaries/cromwell-*.jar
data/blast/
data/ref_genomes/human/hg*
data/ref_genomes/human/UCSC*
data/ref_genomes/human/GRCh*
workflows/outputs/
workflows/executions/
notebooks/plots/
notebooks/.ipynb_checkpoints
.*
.*/
.git/*
diagrams/